#results-table {
    th, td {
        padding: 0 0.5em;
    }
}

/* Collapsible list styling */
.collapsible {
    list-style: square;

    & > .collapsible-content {
        display: none;
    }
}
.collapsible.active {
    & > .collapsible-content {
        display: block;
    }
}


#document-sections {
    /* Styling for section list */
    #section-list {
        background-color: lightgray;
    }
}
#document-text {
    /* Styling for document */
    td {
        vertical-align: top;
    }
    .text-note {
        text-align: right;
        font-weight: bold;
        padding-right: 1em;
    }
    .text-line {
        /* Hanging indent */
        padding-left: 2em;
        text-indent: -2em;
    }

    /* Styling for selectable tokens */
    & button[data-id] {
        /* Reset button styling to default */
        background: unset;
        border: unset;
        padding: unset; 
        margin: unset;

        &:hover {
            color: royalblue;
            text-decoration: royalblue 0.1em solid underline;
        }
    }
}

#token-data {
    z-index: 10;
    position: absolute;
    top: 10vh;
    right: 0;
    display: none;
    background-color: lightsteelblue;
    border: 1pt solid slategray;
    border-radius: 1em;
    width: 40vw;
    height: 80vh;
    /* CHANGE THESE AFTER FORMATTING IS IMPROVED */
    text-wrap: wrap;
    word-break: break-all;

    #token-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.2em;
    }

    /* #token-data-table {
        position: absolute;
        top: 2em;
    } */
}