.inline {
    display: inline;
}

.hidden {
    display: none;
}

#latin-search {
    margin: 1em;
}

#entry-details {
    table {
        
        /* Fix width of first column */
        td:first-of-type {
            width: 12em;
        }
        td {
            padding: 0.5rem 0 0 3em;
            vertical-align: top;
        }
    }

    .cit {
        color: darkslategrey;
        text-decoration: underline dotted green 2pt;
    }
    
    .bibl {
        color: blue;

        .author {
            font-weight: bold;
        }
    }

    .show-more-btn {
        color: royalblue;
        background-color: transparent;
        border: none;
    }
}