body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand img {
  width: 100px;
  height: auto;
}
.alternate-letter-entry {
  padding: 2px;
  min-width: 2em;
}
.popover{
  max-width:60em;
}
.splash-image {
   width: 400px;
   height: auto;
  margin: 2em;
 }

.footer {
    bottom: 0;
    /*position: absolute;*/
    /*width:100%;*/
}

.page-container {
    min-height: 100vh;
}

.divider {
    height: 2em;
}